/* practice style start */

/* banner styles section  */

.new-year-intro{


    background-image: linear-gradient(#070211c5, #07021180), url("../images/Banner Image.png");
  background-size: cover;
  background-position: center;
  width: 1320px;
  height: 600px;
  margin: 0 auto; 
  border-radius: 10px; 
  overflow: hidden;
  margin-top: 50px ;
  margin-bottom: 120px ;

  
        
}



/* fonts for everyone  */

.merriweather-fonts {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  


  /* font style */
  
  .big-t {

    font-size: 72px ;
    font-weight: 900;
  }

  .short-t{
    font-size: 32px;
  }

  .intro-text{
    text-align: center;
    color: white;
    padding: 117px 344px;
    
  }

  
  .holiday-discount{

    text-align: center;
    height: 810px;
    margin-bottom: 230px;

  }

.flat-discount{
    color: #FF0000;
    font-size: 88px;
    font-weight: bold;
    padding-bottom: 8px;
}
.dis-title{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    padding-bottom: 6px;
}
.dis-subtitle{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 48px;
}

/* 3rd banner style section */

.party-banner{
    height: 600px; 
   background-image: linear-gradient(#070211ac, #000000aa,#00000065,#00000084) ,url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    border-radius: 16px;
    background-position: center;
    margin: 0 auto;
   margin-bottom: 120px;
   
}
 .mid-party .party-heading{
    font-size: 64px;
    color: white;
    margin-left: 36px;
    line-height: 80px;
    margin-right: 550px;
    margin-top: 10px;
    letter-spacing: 7%;

}
.mid-party .party-title{
    font-size: 18px;
    color: white;
    margin-bottom: 68px;
    margin-top: 4px;
    padding-right: 500px ;
    margin-left: 36px;
    line-height: 30px;
  font-family:inherit ;


}

 .mid-party .party-join{
margin-left: 60px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    font-family:inherit;
   
}

.mid-party{

    padding-top:136px ;
    padding-left:126px ;
   text-align: left;

}

/* 4th party layer  */

.share-size{
  font-weight: 600;
  font-size: 32px;
  font-family: inherit;
}

.pic-date> p> span {
  color: #FF0000;
}

.btn-size{
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #FF0000;
  padding: 16px 32px;
  border-radius: 8px;
 

}

.pic-date{
width: 1320px ;
height: 485px;
background-image: linear-gradient(#ff000023, #ff000000 , #ff000000, #ff000000);
text-align: center;
align-items: center;
justify-content: center;
margin: 0 auto;
}



.time{
    padding-bottom: 48px;
}


.place{
  padding-top: 100px;
}